@import "tailwindcss";@import "tailwindcss";



:root {:root {

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;  line-height: 1.5;

  font-weight: 400;  font-weight: 400;

}}



body {body {

  margin: 0;  margin: 0;

  min-width: 320px;  min-width: 320px;

  min-height: 100vh;  min-height: 100vh;

}}


